@using CompanyCommander.Components
@using CompanyCommander.DB
@using CompanyCommander.Model
@inject AppDbContext db
@inherits LayoutComponentBase
@code {
    private Game _currentGame;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await db.LoadDatabaseAsync();
        await Task.Delay(1500);
        _currentGame = db.Game.FindAll().FirstOrDefault();
        _isLoading = false;
    }
}

    @if (_isLoading)
{
    <div class="splash-screen" style="text-align: center; background: linear-gradient(180deg, #606060 0%, #303030f2 70%); height: 100vh;">
        <img src="icon-512_v2.png" alt="Loading icon" style="max-width: 100%; height: auto;" />
    </div>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <p role="status">Runde: </p>
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}

