@page "/counter"
@using BlazorBootstrap
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCountAsync">Click me NOW! NOWWWWWWWW!!!!</button>


<Badge Color="BadgeColor.Primary" Class="ms-2" VisuallyHiddenText="amount1">@temperature1</Badge>
<span>Fahrenheit</span>




<div class="mb-3">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary">
        Announcement <Badge Color="BadgeColor.Danger"><Icon Name="IconName.MegaphoneFill" /> 2</Badge>
    </Button>
    <Badge Color="BadgeColor.Primary" IndicatorType="BadgeIndicatorType.RoundedPill">💣 Ammo: 2</Badge>
</div>

@code {
    private int currentCount = 0;
    int temperature1 = 9;

    List<TickMark> list = new List<TickMark>
    {
    };

    protected override async Task OnInitializedAsync()
    {
        for (int i = 1; i <= 19; i++)
        {
            list.Add(new TickMark() { Label = "", Value = i.ToString() });
        }

        var counter = await localStorage.GetItemAsync<int>("Counter");
        currentCount = counter;
    }

    private async Task IncrementCountAsync()
    {
        currentCount++;
        await localStorage.SetItemAsync("Counter", currentCount);
    }

    private void Chacnge()
    {
        Console.WriteLine("Change");
    }

    private void Chacnge1()
    {
        Console.WriteLine("Change1");
    }

    private void MouseUp()
    {
    }
    private void OnPointerUp(PointerEventArgs e)
    {
        Console.WriteLine("MouseUp - Value accepted: " + temperature1);
    }
}
